.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
  color: #8e8e8e;
  transition: color 0.15s ease-in-out;
}

.container {
  max-width: 960px;
}

.link-secondary:focus, .link-secondary:hover {
  color: #565e64;
}

footer {
  width: 80%;
  margin-left: 10%;
}
